*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.85), rgba(4,9,30,0.85)), url(/static/images/uwi_sign.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header nav{
    display: flex;
    justify-content: right;
    padding: 25px 25px;
}

.nav-links ul li{
    text-decoration: none;
    display: inline-block;
    padding-right:25px;
}

.nav-links ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.8px;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.message h1{
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.header nav a{
    text-decoration: none;
}

.message{
    width: 60%;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.message p{
    margin: 10px 0 0px;
    font-size: 14px;
    color: white;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}

.message img{
    height: 250px;
    width: 250px;
}

.loginbtn{
    display:inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 40px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    margin: 18px;
    transition: 0.2s;
}

.loginbtn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    
}