* {
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(21, 27, 54, 0.85), rgba(4,9,30,0.85)), url(/static/images/uwi_sign.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;

}

.header nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}

.header nav a p{
    font-family: 'Cinzel', serif;
}

.nav-links{
    text-align: right;
}

.nav-links ul li{
    text-decoration: none;
    display: inline-block;
    padding-right:25px;
}

.nav-links ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.8px;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.header p{
    font-size: 28px;
    letter-spacing: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.header nav a{
    text-decoration: none;
}


.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.searchbar{
    margin: 10px 20px;
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    border-radius: 60px;
    max-width: 700px;
    padding: 10px 20px;
    display: flex;
}

.searchbar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: 0;
    font-size: 18px;
    color: #cac7ff;
}

.searchbar input:-webkit-autofill,
.searchbar input:-webkit-autofill:hover, 
.searchbar input:-webkit-autofill:focus, 
.searchbar input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}


::placeholder{
    padding-left: 10px;
    letter-spacing: 1px;
    color: #cac7ff;
    font-size: 15px;
}

#search-btn{
    color: white;
    background-color: #DD0426;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 17px;
    margin-right: 0px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: Montserrat;
    
}

#search-btn:hover{
    opacity: 0.5;
    transform: scale(0.95);
}

.result{
    margin-top: 40px;
    border-radius: 6px;
    justify-content: center;
    display: flex;

}

/* Table */

table{
    flex:1;
    max-width: 90%;
   
}

table, tr, td{
    border-collapse: collapse;
    padding: 1rem;
}

thead th{
    text-align: center;
    position: sticky;
    background-color: #fff4;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.8px;
    backdrop-filter: blur(15px);
}

tbody tr{
    background-color: #b4b8bf;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
}

tbody tr:hover td{
    transform: scale(1.05);
    cursor: pointer;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.page-info {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}

.page-links {
    display: flex;
    align-items: center;
}

.page-links a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #DD0426;
    border-radius: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.page-links a:hover {
    opacity: 0.8;
}
#add-job-btn{
    display: block;
    margin: 0 auto;
    margin-top: 23px;
    background-color:#DD0426;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}