*{
    margin:0;
    padding: 0;
}


form{
    background-color: rgba(255,255,255,0.8);
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    
}

.form-button{
    padding: 8px 20px;
    margin-top: 10px;
    color: white;
    background-color: #5682F0;
    border-radius: 5px;
    font-size: 17px;
    font-family: Montserrat;
    letter-spacing: 0.7px;
    border: none;
    cursor:pointer;

}

.form-button:hover{
    transform: translateY(-1px);
}

.form-button:hover,
.form-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.form-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

label{
    font-size: 25px;
    font-weight: bold;
    color: #5682F0;
    margin: 0px;
    letter-spacing: 0.6px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.form-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    border-style: dashed;
    border-radius: 10px;
    border-color: #5682F0;
    padding: 70px;
    text-align: center;
    align-items: center;
}

#resume{
    font-size: 20px;
    border: none;
}

.recommended-jobs{
    margin-top: 20px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
}

table{
    max-width: 80%;
    margin-top: 25px;
   
}

table, tr, td{
    border-collapse: collapse;
    padding: 1rem;
}

thead th{
    text-align: center;
    position: sticky;
    background-color: #fff4;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.8px;
    backdrop-filter: blur(15px);
}

tbody tr{
    background-color: #b4b8bf;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
}

.resume-p{
    display: block;
    font-size: 21px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;
}

i{
    font-size: 50px;
    margin-bottom: 10px;
    color: #5682F0;
}