<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ABOUT | UWI CAREERS AND PLACEMENT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/images/UWI_logo.png" type="image/png">
    </head>
</head>
<body>
    <div class="header">
        <nav> 
            <div class="nav-links">
                <ul>
                    <li> <a href="/">Home </a> </li>
                    <li> <a href="about.html">About </a> </li>
                    <li> <a href="joblisting.html">Job Listings </a> </li>
                    <li> <a href="">Resume </a> </li>
                    <li> <a href="">Staff </a> </li>
                    <li> <a href="">News </a> </li>
                    <li> <a href="">Login</a> </li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <h1>About</h1>
    </div>
    <div class="body">
        <div class="text">
        <h2>Careers and Placements</h2>
        <p>The Office of Placement and Career Services was 
            established in 1960 with the main aim of providing 
            job placement opportunities for UWI graduates.  
            However, over the years the Office has extended 
            its services to include Individual Career Counselling 
            and Career Planning.  In keeping with the changing needs 
            of the labour market, Placement and Career Services constantly 
            reviews programs as well as introduce new ones in order to meet 
            the varying career development needs of the student population.
        </p>
        <br>
        <p>The programmes of the Office of Placement and Career Services are 
            focused on:
        </p>
        <ul>
            <li>Helping students to focus on career planning</li>
            <li>Assisting students to choose careers in keeping with interest, abilities, values and job market trends</li>
            <li>Helping students to link subject choices with majors and career objectives</li>
            <li>Preparing students to plan their job search as well as entrepreneurial skills and competencies</li>
            <li>Helping students to be aware of the world of work expectations</li>
            <li>Assisting students to focus on career development as a lifelong process</li>
            <li>Job placement for students and alumni</li>
        </ul>
        <br>
        <p>I am pleased to welcome you to the Office of Placement 
            and Career Services website and hope the website 
            will provide the necessary career development and 
            job placement information as well as provide the 
            link between students and potential employers.  
            We implore that our students utilize the services 
            and programmes provided by the office so that they 
            can enhance their career development as they prepare 
            for this life long process.</p>

        <h2>Mission Statement</h2>
        <p>In keeping with the mission statement of the University 
           of the West Indies (UWI) and the Office of Student Services 
           (OSS), Mona, the Office of Placement and Career Services will
           develop and deliver programmes in the area of Career Development 
           and Job Placement in order to meet the needs of our students and 
           alumni and the manpower needs of Jamaica and the rest of the Caribbean.
        </p>

        <h2>Service Creed</h2>
        <p>The Staff of the Office of Student Services recognizes that they exist 
            primarily to serve students. They may not always be able to provide 
            you with everything you want; however, you will be treated in a manner 
            consistent with the following Service Creed.
            Students can expect:</p>
        
        <ul>
            <li>To be addressed and treated in a respectful, efficient and courteous manner.</li>
            <li>To receive answers to questions or be directed to someone who can provide the answer.</li>
            <li>To be encouraged to advocate for themselves, but to receive help from Student Services 
                staff if issues are not addressed in an appropriate manner</li>
        </ul>

        <p>Student Services will:</p>
        <ul>
            <li>Appreciate diversity of our community and will give fair and equitable treatment to all.</li>
            <li>Value your input and respect your opinion.</li>
            <li>Work to help you have a positive experience at the University of the West Indies, Mona.</li>
        </ul>
    </div>
    </div>
    
</body>
</html>