{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/cardev.css') }}">
{% endblock%}
{% block main %}
    <div class="wrapper">
        <div class="tile">
            <h6> Orientation Seminars </h6>
            <p> 
                These seminars are specifically organized for first year students.
                They are designed to help them become aware of the career opportunities
                related to certain academic majors and to link subject choices with their
                career objectives.
            </p>

        </div>

        <div class="tile">
            <input id="ch2" type="checkbox">
            <h6> Career Awareness Month Activities </h6>
                <h5>Dress for Success Seminar and Workplace Ethics Seminar</h5>
            <p>
                This seminar places emphasis on appropriate attire for the working environment, 
                the job interview and other work related occasions. Additionally, issues 
                associated with workplace ethics are adressed.
            </p>

            <div class="content">
                    <h5>Mock Interviews</h5>
                <p>
                    These interviews are specially organized to assist finalizing students to 
                    develop needed interviewing skills and techniques which are necessary for 
                    a successful job search.
                </p>
                    <h5>Career Exposition & Job Fair</h5>
                <p>
                    The Exposition is held over a two day period during which a wide cross-section
                    of private and public sector organizations mount displays on a range of career
                    areas. The exposition will expose students to a variety of possible career 
                    opportunities and widen their knowledge of various organizations. Students 
                    will also be able to network with key Human Resource Personnel.
                    On day 2, a Job Fair is held in conjunction with the expo. This is an 
                    opportunity for final year students to network with prospective 
                    employers/boothholders and to attend structured or walk-in interviews.
                </p>
                <label for="ch2"> Show Less </label>
            </div>
            <label for="ch2"> Read More </label>
        </div>

        <div class="tile">
            <input id="ch" type="checkbox">
            <h6> Career Portfolio </h6>
            <p>The Office of Placement & Career Services will guide you in the preparation 
                of your career portfolio.  Your Career Portfolio should contain a copy of the 
                following documents: 
            </p>

            <div class="content">
                <h5> Requirements </h5>
                <p>
                    Résumé and Cover Letter, Transcript of Grades
                    List of References (contacted and confirmed)
                    SIGI³(Self-Assessment Results)
                    Possible Career Choices
                    Career Development Information
                    Qualification documents (degrees, CAPE, CSEC) - original and at least 1 copy of each - examination certificates/certificates/degrees; sample of work (where possible); Special awards certificates; Employment Credentials (where applicable), Skills and Competencies, Copies of Letters of Recommendation, Copies of Competency Exam Results,. 
                    
                    In addition to gathering the above information, students will have the opportunity to chart 
                    their educational path and co-curricular involvement. They will be able to identify 
                    careers being considered as well as possible places of employment. Church and community 
                    activities, work-study experience as well as workplace experience will be itemised. 
                </p>
                    <h5> Contact </h5>
                <p>
                    For further information on this programme, please contact Placement and 
                    Career Services, upstairs the Office of Graduate Studies and Research; 
                    Tel: 927-1650, 935-8224; Email: placemnt@uwimona.edu.jm.
                </p>

                <label for="ch"> Show Less </label>
            </div>
            <label for="ch"> Read More </label>
        </div>

        <div class="tile">
            <h6> Careers Club </h6>
            <p>
                The Careers Club is an association under the Office of Placement & Career Services
                as part of its many programmes designed to meet the career development needs of 
                the University of the West Indies.  The aim of the club is to disseminate career 
                information in a variety of areas while assisting students to develop their leadership skills 
                and abilities. This is done through interesting and fulfilling activities centred on 
                developing the skills and values necessary for personal career development and the world 
                of work.
            </p>

        </div>

        <div class="tile">
            <h6> System for Interactive Guidance and Information (SIGI) </h6>
            <p>
                This is a computerized career counselling  information package. 
                It is designed to help students decide what employment areas would best suit
                them depending on their interests, values,  skills and  abilities.
            </p>
        </div>

        <div class="tile">
            <input id="ch1" type="checkbox">
            <h6> Peer Career Advisor Programme </h6>
            <p>
                Peer Advisors are selected second, third year and postgraduate students who are 
                trained by the Office of Placement & Career Services to assist their fellow peers 
                with career development decisions.
            </p>

            <div class="content">
                <p>
                    The Programme was designed to provide participating students with leadership 
                    opportunities as well as to serve the growing number of students seeking 
                    assistance with career-related decisions, many of whom would not normally 
                    visit the office. So, if you prefer to discuss your career development with one of your 
                    peers you are always welcome to visit Room 6 at the office and talk with our Peer Advisors. 
                    They are trained to assist you and to make referrals when necessary. 
                    They can be identified by their gold peer advisers buttons or blue Peer Advisor Shirts; 
                    look out for your Peer Advisers as you move around campus!
                    Peer Advisers are selected and trained at the beginning of each academic year.
                </p>
                <label for="ch1"> Show Less </label>
            </div>
            <label for="ch1"> Read More </label>

        </div>
    </div>













{% endblock%}