<div class="header">
    <nav>
        <a href=""><p>UWI CAREERS AND PLACEMENT</p></a>
        <div class="nav-links">
            <ul>
                <li> <a href="{{url_for('homepage')}}">Home </a> </li>
                <li> <a href="{{url_for('aboutpage')}}">About </a> </li>
                <li> <a href="{{url_for('joblisting')}}">Job Listings </a> </li>
                <li> <a href="">Resume </a> </li>
                <li> <a href="{{url_for('staff')}}">Staff </a> </li>
                <li> <a href="">News </a> </li>
                <li> <a href="{{url_for('login')}}">Login</a> </li>
            </ul>
        </div>
    </nav>
</div>