{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">{% endblock%}
{% block main %}

    <div class="message">

        {% include 'flash_messages.html' %}
        <img src="/static/images/UWI_logo.png">
        <h1> UWI CAREERS AND PLACEMENT </h1>
        <p>
            The Office of Student Services (OSS), Mona, the Office of Placement 
            and Career Services will develop and deliver programmes in the area 
            of Career Development and Job Placement in order to meet the needs of 
            our students and alumni and the manpower needs of Jamaica and the rest 
            of the Caribbean.
        </p>

        <a href="{{url_for('login')}}" class="loginbtn"> Login </a>
    </div>
    
{% endblock%}