{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/joblisting.css') }}">{% endblock%}
{% block main %}
    <div class="search-container">
        <form method="post" action="/joblisting.html" class="searchbar">
            <input type="text" name="search" id="keyword" placeholder="Enter Job Title...">
            <button type="submit" id="search-btn">Search</button>
        </form>
        
    </div>
    {% include 'flash_messages.html' %}
    {% if is_admin %}
        <form method="get" action="{{ url_for('add_job') }}">
            <button type="submit" id="add-job-btn">Add Job</button>
        </form>
    {% endif %}
        <div class="result"> 
            <table>
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Employer</th>
                        <th>Date Posted</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr class="job-row" data-job-id="{{ row[0] }}">
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            const jobRows = document.querySelectorAll('.job-row');

            jobRows.forEach(row => {
                const jobId = row.dataset.jobId;
                row.addEventListener('click', () => {
                    window.location.href = `/job/${jobId}`;
                });
            });
        </script>
{% endblock%}