{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock%}
{% block main %}
        <div class="loginbody"> 
            <form>
                <div class="text_field"> 
                    <input type="text" id="ID" placeholder="ID Number" name="ID"><br>
                </div>

                <div class="text_field"> 
                    <input type="password" id="password" placeholder="Password" name="password"><br>
                </div>
                <div class="check-box"> 
                    <input type="checkbox" value="Remember Me" id="rem">
                    <label for="rem"> Remember Me </label>
                </div>
                
                <input type="submit" value="Login" id="logbtn">

            </form>

        </div>
{% endblock%}