{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">{% endblock%}
{% block main %}

       
        <form method="POST" action="{{ url_for('save_resume') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-upload"> 
                {{ form.resume.label }}
                {{ form.resume(required='required', class="short") }}
            </div>
            <button class="form-button" type="submit" id="submit">Submit</button>
        </div>
        </form>
        <div class="recommended-jobs">
            <h5>Based on your resume, these jobs may be suitable for you.</h5>

            <table>
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Employer</th>
                        <th>Date Posted</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- recommended jobs would be inserted here -->
                </tbody>
            </table>
        </div>
{% endblock%}