<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> UWI Careers and Placement </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel = "icon" href = "/static/images/UWI_logo.png" type = "image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <body>
        <div class="header">
            <nav>
                <a href=""><h1>UWI CAREERS AND PLACEMENT</h1></a>
                <div class="nav-links">
                    <ul>
                        <li> <a href="/">Home </a> </li>
                        <li> <a href="">About </a> </li>
                        <li> <a href="joblisting.html">Job Listings </a> </li>
                        <li> <a href="">Resume </a> </li>
                        <li> <a href="staff.html">Staff </a> </li>
                        <li> <a href="">News </a> </li>
                        <li> <a href="login.html">Login</a> </li>
                    </ul>
                </div>
            </nav>
        </div>